﻿body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.lds-dual-ring.hidden {
    display: none;
}

.lds-dual-ring {
    display: inline-block;
    width: 80px;
    height: 80px;
}

    .lds-dual-ring:after {
        content: " ";
        display: block;
        width: 64px;
        height: 64px;
        margin: 5% auto;
        border-radius: 50%;
        border: 6px solid #fff;
        border-color: #fff transparent #fff transparent;
        animation: lds-dual-ring 1.2s linear infinite;
    }

@keyframes lds-dual-ring {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}


.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: rgba(0,0,0,.8);
    z-index: 999;
    opacity: 1;
    transition: all 0.5s;
}

.logoff {
    margin-top: 25%;
    background-color: transparent;
    color: #fff;
    border: none;
}

.userName {
    margin-top: 9.5%;
    color: #fff;
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
}

#chatroom {
    width: 500px;
    height: 310px;
    border: 1px solid black;
    overflow-y: scroll;
    border-radius: 3px;
    padding: 5px;
}

.chatMessage {
    margin-left: 20px;
    margin-top: -10px;
}

.error {
    border: 1px solid red;
}

.navbar-inverse {
    background-color: #225;
    border-color: #080808;
}

#onlineform {
    border: 1px solid black;
    border-radius: 3px;
    width: 170px;
    padding: 5px;
}