﻿@using FinanceSoftTestProject.BLL.DTO;
@using Microsoft.AspNet.Identity

@{
    var userId = User.Identity.GetUserId();
}

@foreach (MessageDTO message in Model)
{
    <p> @message.CreatedDateTime <b> @message.UserName </b>: </p>
    <p class='chatMessage'> @message.Message</p>
}
