﻿@using Microsoft.AspNet.Identity

@{
    var userId = User.Identity.GetUserId();
    var userName = User.Identity.GetUserName();
}
<!DOCTYPE html>
<html>
<head>
    <title></title>
</head>
<body>
    <h2>Чат-комната</h2>

    <div class="main" data-userId="@userId" data-userName="@userName" data-isLoadedBefore="false">
        <div id="chatBody">
            <div id="header"></div>
            <div class="grid-container">
                <div id="chatroom">
                </div>
                <div>
                    @using (Ajax.BeginForm("ChatMessages", new AjaxOptions
                    {
                        UpdateTargetId = "chatroom",
                        HttpMethod = "GET"
                    }))
                    {
                        <input type="date" data-bind="value: dateFrom" id="dateFrom" name="dateFrom" />
                        <input type="date" data-bind="value: dateTo" id="dateTo" name="dateTo" />
                        <button data-bind="click: filterDate" class="btn btn-primary">Обновить</button>
                    }
                    <br />
                    <div id="inputForm">
                        <textarea data-bind="textInput: txtMessage" class="form-control" id="TxtMessage" cols="40" rows="12"></textarea>
                        <button data-bind="click: sendMessage" class="btn btn-primary">Отправить</button>
                    </div>
                </div>
            </div>

            <div id="onlineform">
                <h5>Онлайн:</h5>
                <div id=chatusers></div>
            </div>


        </div>
        <input id="@userId" type="hidden" />
        <input id="@userName" type="hidden" />
    </div>
</body>
</html>